@charset "UTF-8";
/* sec_ttl
--------------------------------*/
.sec_ttl{
	background-image: url(../img/news/ttl_bg_pc.jpg);
}
@media screen and (max-width: 767px) {
	.sec_ttl{
		background-image: url(../img/news/ttl_bg_sp.jpg);
	}
}

/* search
--------------------------------*/
.sec_search{
	padding: 40px 0;
}
.sec_search .wrap{
	display: flex;
	justify-content: space-between;
}
.sec_search .ttl{
	font-size: 2.6rem;
	font-weight: 700;
	margin-top: 10px;
}
.sec_search .ttl img{
	vertical-align: middle;
	margin: 0 5px 0 0;
}
.sec_search .select{
	display: flex;
	justify-content: flex-start;
	width: calc(100% - 240px);
}
.sec_search .select .list{
	display: flex;
	justify-content: flex-start;
	position: relative;
	padding-right: 10px;
	margin-right: 15px;
}
.sec_search .select .list::before{
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	width: 1px;
	height: 120%;
	background: #e3e3e3;
	transform: translateY(-50%);
}
.sec_search .select .list li{
	width: 190px;
	margin: 0 5px;
}
.sec_search .select .list li label{
	display: block;
	position: relative;
}
.sec_search .select .list li label input{
	visibility: hidden;
	position: absolute;
	width: 1px;
}
.sec_search .select .list li label .txt_check{
	font-size: 1.6rem;
	width: 100%;
	height: 45px;
	padding-bottom: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ffe12b;
	border-radius: 25px;
}
.sec_search .select .list li .icon img{
	vertical-align: middle;
	margin-right: 5px;
}
.sec_search .select .list li .icon .off{
	display: none;
}
.sec_search .select .list li label input:checked+span{
	background: #191919;
	color: #fff;
}
.sec_search .select .list li label input:checked+span .icon .off{
	display: block;
}
.sec_search .select .list li label input:checked+span .icon .on{
	display: none;
}
.sec_search .select_year{
	position: relative;
	width: 345px;
}
.sec_search .select_year .btn{
	font-size: 1.6rem;
	width: 100%;
	height: 45px;
	padding-bottom: 3px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	padding-left: 55px;
	background: url(../img/news/search_icon_black.png) no-repeat;
	background-color: #ffe12b;
	background-position: 30px center;
	position: relative;
	cursor: pointer;
}
.sec_search .select_year .btn .icon{
	position: absolute;
	width: 25px;
	height: 25px;
	background: #fff;
	border-radius: 50%;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}
.sec_search .select_year .btn .icon::before,
.sec_search .select_year .btn .icon::after{
	content: '';
	position: absolute;
	background: #191919;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.sec_search .select_year .btn .icon::before{
	width: 14px;
	height: 3px;
}
.sec_search .select_year .btn .icon::after{
	width: 3px;
	height: 14px;
}
.sec_search .select_year .btn.open .icon{
	background: #fff;
}
.sec_search .select_year .btn.open .icon::after{
	opacity: 0;
}
.sec_search .select_year .btn.open{
	border-radius: 5px 5px 0 0;
}
.sec_search .select_year .children{
	border: 2px solid #e9e9e9;
	border-top: 1px;
	border-radius: 0 0 5px 5px;
	display: none;
}
.sec_search .select_year .children li{
	font-size: 1.4rem;
	padding: 8px 20px;
	border-top: 1px solid #e9e9e9;
	cursor: pointer;
}
@media screen and (max-width: 1259px) {
	.sec_search .wrap{
		display: block;
	}
	.sec_search .select{
		margin-top: 20px;
		width: 100%;
	}
	.sec_search .select .list{
		width: 62%;
		max-width: 610px;
	}
	.sec_search .select_year select{
		padding-left: 40px;
		background-position: 20px center;
	}
	.sec_search .select_year .btn{
		padding-left: 40px;
		background-position: 18px center;
	}
	.sec_search .select_year .btn .icon{
		right: 10px;
	}
}
@media screen and (max-width: 910px) {
	.sec_search .select .list li label .txt_check{
		font-size: 1.5rem;
	}
}
@media screen and (max-width: 767px) {
	.sec_search{
		padding: 9.5% 0;
	}
	.sec_search .ttl{
		font-size: 6.1vw;
	}
	.sec_search .ttl img{
		width: 6vw;
		margin-right: 0.3em;
	}
	.sec_search .select{
		display: block;
		width: auto;
		margin-top: 5%;
	}
	.sec_search .select .list{
		width: 100%;
		max-width: 100%;
		display: flex;
		justify-content: space-between;
		position: relative;
		padding-right: 0;
		margin-right: 0;
	}
	.sec_search .select .list::before{
		display: none;
	}
	.sec_search .select .list li{
		width: 32%;
		margin: 0;
	}
	.sec_search .select .list li label{
		display: block;
		position: relative;
	}
	.sec_search .select .list li label input{
		visibility: hidden;
		position: absolute;
		width: 1px;
	}
	.sec_search .select .list li label .txt_check{
		font-size: 3.7vw;
		line-height: 1.2;
		height: 12vw;
		padding-bottom: 0;
		border-radius: 6vw;
	}
	.sec_search .select .list li .icon img{
		width: 4vw;
		margin-right: 1vw;
	}
	.sec_search .select .list li .icon .off{
		display: none;
	}
	.sec_search .select .list li label input:checked+span{
		background: #191919;
		color: #fff;
	}
	.sec_search .select .list li label input:checked+span .icon .off{
		display: block;
	}
	.sec_search .select .list li label input:checked+span .icon .on{
		display: none;
	}
	.sec_search .select_year{
		width: 100%;
		margin-top: 4%;
	}
	.sec_search .select_year .btn{
		height: 12vw;
	}
	.sec_search .select_year .btn{
		font-size: 4.5vw;
		border-radius: 1vw;
		padding: 3.9% 6% 3.9% 11%;
		margin-bottom: -1px;
		background-size: 4vw;
		background-position: 3vw;
	}
	.sec_search .select_year .btn .icon{
		width: 6.5vw;
		height: 6.5vw;
		right: 10px;
	}
	.sec_search .select_year .btn .icon::before{
		width: 3.5vw;
		height: .7vw;
	}
	.sec_search .select_year .btn .icon::after{
		width: .7vw;
		height: 3.5vw;
	}
	.sec_search .select_year .children{
		border-radius: 0 0 1vw 1vw;
		display: none;
	}
	.sec_search .select_year .children li{
		font-size: 3.7vw;
		padding: 1.5% 3%;
	}
}

/* news
--------------------------------*/
.sec_news{
	position: relative;
}
.sec_news::before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	border: 35px solid transparent;
	border-top: 35px solid #fff;
}
.sec_news .list{
	overflow: hidden;
}
.sec_news .list li a{
	display: flex;
	justify-content: flex-start;
	height: 100%;
	border: 1px solid #ededed;
	border-radius: 5px;
	background: #fff;
	position: relative;
	transition: border-color .4s;
}
.sec_news .list li a::before,
.sec_news .list li a::after{
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 32px;
	height: 32px;
	background: #eeeeee;
	border-radius: 5px 0 0 0;
	z-index: 1;
	transition: background .4s;
}
.sec_news .list li a::after{
	width: 44px;
	height: 44px;
	background: #f5f5f5;
	bottom: -22px;
	right: -22px;
	transform: rotate(45deg);
	border-radius: 0;
}
.sec_news .list li .img{
	padding: 10px;
	background: #ededed;
	width: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sec_news .list li .box_txt{
	width: calc(100% - 160px);
	position: relative;
	padding: 35px 5.6%;
}
.sec_news .list li .tag{
	font-size: 1.6rem;
	line-height: 1.4;
	font-weight: 700;
	padding: .2em .25em .3em;
	letter-spacing: -0.07em;
	background: #eeeeee;
	border-radius: 5px;
	min-width: 100px;
	display: inline-block;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	transition: background .4s,color .4s;
}
.sec_news .list li .date{
	font-size: 1.6rem;
	line-height: 1;
	color: #717171;
	font-style: italic;
	font-weight: 300;
	transition: color .4s;
}
.sec_news .list li .txt{
	font-size: 1.8rem;
	line-height: 1.44;
	font-weight: 500;
	margin-top: 10px;
	min-height: 65px;
	transform: rotate(0.1deg);
	transition: color .4s;
	word-break: break-all;
}
.sec_news .list li a:hover{
	border-color: #ffc000;
	opacity: 1;
}
.sec_news .list li a:hover .tag{
	background: #fee12b;
}
.sec_news .list li a:hover .date,
.sec_news .list li a:hover .txt{
	color: #ffc000;
}
.sec_news .list li a:hover::before {
	background: #ffc000;
}
.sec_news .btn{
	margin-top: 50px;
}
.sec_news .list li.urgent_info .tag{
	color: #fff;
	background: #ef2605;
}
.sec_news .list li.urgent_info a:hover{
	border-color: #ef2605;
}
.sec_news .list li.urgent_info a:hover .tag{
	background: #ef2605;
}
.sec_news .list li.urgent_info a:hover .date,
.sec_news .list li.urgent_info a:hover .txt{
	color: #ef2605;
}
.sec_news .list li.urgent_info a:hover::before{
	background: #ef2605;
}
@media screen and (max-width: 767px) {
	.sec_news::before{
		border-width: 5vw;
		border-top-width: 5vw;
	}
	.sec_news .list{
		width: 89%;
		margin: 0 auto;
	}
	.sec_news .list li{
		position: relative;
	}
	.sec_news .list li+li{
		margin-top: 5%;
	}
	.sec_news .list li:nth-child(2){
		z-index: 1;
	}
	.sec_news .list li:nth-child(3){
		z-index: 2;
	}
	.sec_news .list li a{
		border-radius: 1vw;
	}
	.sec_news .list li a::before,
	.sec_news .list li a::after{
		width: 4vw;
		height: 4vw;
		border-radius: 1vw 0 0 0;
	}
	.sec_news .list li a::after{
		width: 8vw;
		height: 8vw;
		bottom: -5.33vw;
		right: -5.33vw;
	}
	.sec_news .list li .img{
		padding: 2vw;
		width: 28vw;
	}
	.sec_news .list li .box_txt{
		width: calc(100% - 28vw);
		padding: 6% 7%;
	}
	.sec_news .list li .tag{
		font-size: 2.8vw;
		padding: 0.5em 0.25em;
		border-radius: 1vw;
		min-width: 18vw;
	}
	.sec_news .list li .date{
		font-size: 3.2vw;
	}
	.sec_news .list li .txt{
		font-size: 3.2vw;
		line-height: 1.5;
		margin-top: 3%;
		min-height: 1px;
	}
	.sec_news .btn{
		margin-top: 7.5%;
	}
}

/* detail
--------------------------------*/
.sec_detail .head .info{
	display: flex;
	justify-content: flex-start;
}
.sec_detail .head .info .date{
	font-size: 1.4rem;
	color: #717171;
	font-weight: 300;
	border: 2px solid #eaeaea;
	border-right: 0;
	line-height: 26px;
	height: 30px;
	padding: 0 0.5em;
	font-style: italic;
}
.sec_detail .head .info .tag{
	font-size: 1.3rem;
	line-height: 27px;
	background: #fee12b;
	border: 2px solid #fee12b;
	height: 30px;
	padding: 0 0.5em;
}
.sec_detail .head .info .tag.urgent_info{
	color: #fff;
	border-color: #ef2605;
	background: #ef2605;
}
.sec_detail .head .ttl{
	font-size: 3.8rem;
	line-height: 1.447;
	font-weight: 700;
	margin-top: 15px;
	word-break: break-all;
}
.sec_detail .head .ttl span{
	display: inline-block;
	position: relative;
	padding-left: 20px;
}
.sec_detail .head .ttl span::before{
	content: '';
	position: absolute;
	top: calc(50% + 0.08em);
	left: 0;
	transform: translateY(-50%);
	background: #ffe12b;
	width: 6px;
	height: calc(100% - 0.4em);
}
.sec_detail .head .sns{
	margin-top: 15px;
	display: flex;
	justify-content: flex-start;
}
.sec_detail .head .sns li{
	width: 30px;
}
.sec_detail .head .sns li+li{
	margin-left: 10px;
}
.sec_detail .cnt{
	margin-top: 10px;
}
.sec_detail .cnt > *{
	max-width: 100%;
}
.sec_detail .cnt .alignright{
	margin-left: 40px;
	margin-bottom: 10px;
}
.sec_detail .cnt p{
	font-size: 1.8rem;
	line-height: 1.78;
	word-break: break-all;
}
.sec_detail .cnt p.wp-caption-text{
	font-size: 1.4rem;
}
.sec_detail .cnt p a{
	text-decoration: underline;
	transition: color .4s;
}
.sec_detail .cnt p a:hover{
	color: #ffc000;
}
.sec_detail .cnt h2{
	font-size: 2.6rem;
	line-height: 1.346;
	font-weight: 700;
	margin-top: 60px;
	position: relative;
	padding-left: 15px;
	margin-bottom: 20px;
}
.sec_detail .cnt h2::before{
	content: '';
	position: absolute;
	top: calc(50% + 0.08em);
	left: 0;
	transform: translateY(-50%);
	background: #ffe12b;
	width: 4px;
	height: calc(100% - 0.4em);
}
.sec_detail .cnt ul,
.sec_detail .cnt ul li{
	list-style: initial;
}
.sec_detail .cnt ol,
.sec_detail .cnt ol li{
	list-style: decimal;
}
.sec_detail .cnt ul,
.sec_detail .cnt ol{
	padding-left: 3em;
}
@media screen and (max-width: 767px) {
	.sec_detail .head .info .date{
		font-size: 3.2vw;
		border-width: 1px;
		border-right: 0;
		line-height: 5vw;
		height: 5.3vw;
		padding: 0 0.5em;
	}
	.sec_detail .head .info .tag{
		font-size: 2.8vw;
		line-height: 5vw;
		border-width: 1px;
		height: 5.3vw;
		padding: 0 0.5em;
	}
	.sec_detail .head .ttl{
		font-size: 6.1vw;
		margin-top: 3%;
	}
	.sec_detail .head .ttl span{
		padding-left: 20px;
	}
	.sec_detail .head .ttl span::before{
		width: 4px;
	}
	.sec_detail .head .sns{
		margin-top: 5%;
		justify-content: flex-start;
	}
	.sec_detail .head .sns li{
		width: 10.67vw;
	}
	.sec_detail .head .sns li+li{
		margin-left: 2vw;
	}
	.sec_detail .cnt{
		margin-top: 10px;
	}
	.sec_detail .cnt .alignright{
		margin: 0 auto 10px;
		float: none;
		display: block;
		/*width: auto;*/
		max-width: 100%;
	}
	.sec_detail .cnt p{
		font-size: 3.7vw;
		line-height: 1.6;
	}
	.sec_detail .cnt p.wp-caption-text{
		font-size: 3.2vw;
	}
	.sec_detail .cnt h2{
		font-size: 4.8vw;
		line-height: 1.38;
		margin-top: 9%;
		padding-left: 15px;
		margin-bottom: 3%;
	}
	.sec_detail .cnt h2::before{
		width: 3px;
	}
}